---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ryan Huntzicker" description="A Bit About Ryan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Stay a while, get to know me a bit."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a deep passion for technology and security, I have built a career that spans cybersecurity, on-premise networking engineering, and cloud infrastructure. My journey began with a focus on on-premise systems, where I designed and maintained robust network infrastructures, ensuring secure and efficient operations for businesses. Over the years, I honed my skills in penetration testing and threat mitigation, becoming proficient at identifying vulnerabilities and implementing effective defenses. As the world shifted to the cloud, I expanded my expertise into cloud engineering, where I now specialize in building secure, scalable environments using cutting-edge technologies. My foundation in both on-premise and cloud systems allows me to offer comprehensive solutions that bridge the gap between traditional IT infrastructures and modern cloud architectures.

Throughout my career, I’ve been driven by the idea that infrastructure is the backbone of any successful organization. Whether it’s securing an on-premise network, optimizing cloud systems for scalability, or ensuring systems are resilient in the face of cyber threats, I’ve found immense satisfaction in the challenge of building and protecting these vital systems. My work in cloud engineering, particularly in hybrid cloud environments, has enabled companies to maximize their resources while safeguarding sensitive data. With expertise in AWS, Google Cloud, and a variety of networking technologies, I’ve built systems that not only perform efficiently but also remain secure in an ever-evolving threat landscape.

At the heart of my work is my dedication to my family. Being a father is my greatest accomplishment, and it fuels my commitment to excellence in everything I do. I approach both my professional life and personal life with the same values—resilience, growth, and security. Just as I strive to build strong, lasting infrastructures for businesses, I am devoted to creating a stable, loving environment for my children to thrive in. Balancing my career and family life gives me purpose, and it’s this balance that drives me to continuously push the boundaries of what I can achieve in both my professional and personal endeavors.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelors of Science in Computer Science, Wayne State University</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Cloud Infrastructure Design & Deployment, Cybersecurity & Penetration Testing, On-Premesis Network Engineering, Hybrid Cloud Solutions, AWS Cerified Cloud Practitioner, Performance Optimizaiton, Cost Optimization, Automation, Client-Focused Solution Design, Node.js, Python, Go</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
