---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ryan Huntzicker" description="A Bit About Ryan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Stay a while, get to know me a bit."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a strong passion for systems, programming (obviously), web development, and blockchain innovation, I have built a diverse career spanning full-stack web and software development. I began by focusing on creating scalable web apps, delivering dynamic and interactive user experiences. Over time, I deepened my expertise in both front-end and back-end development, mastering frameworks like Next.js, Nest.js, Laravel, Vue.js, and React, while developing API-driven solutions. My interests in blockchain technology and decentralized applications (dApps) have further shaped my career, fueling side projects and providing me with a growing following in the Web3 space.

My journey is fueled by the drive to solve complex problems through elegant, scalable, and secure code. I specialize in creating seamless user experiences while ensuring that back-end systems are optimized for performance, reliability, and security. As I embrace the transformative potential of blockchain, I’m committed to building decentralized solutions that empower users, businesses, and the next generation of digital applications. My expertise spans not only building full-stack web apps but also integrating Web3 functionalities that make blockchain accessible and practical for everyday users.

Beyond coding, my passion for blockchain drives me to constantly learn and experiment with new technologies that push the boundaries of what’s possible in digital ecosystems. Whether it’s developing smart contracts for dApps or integrating decentralized finance (DeFi) systems, I’m always seeking ways to bridge the gap between traditional web technologies and the decentralized future. My mission is to shape the next wave of digital innovation, where user-centric, secure, and decentralized applications redefine industries across the globe.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelors of Science in Computer Science, Wayne State University</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
