---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Backend Development</h2>
		<p>I design and implement scalable, secure backend systems using Laravel & NestJS. My focus is on building robust APIs, handling complex business logic, and optimizing database performance. I ensure your backend can handle growth while maintaining efficiency and security.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend Development</h2>
		<p>I create dynamic, user-centric interfaces with React, Next.js, and Vue.js. I prioritize performance, responsiveness, and seamless interactions to deliver smooth user experiences. My designs are focused on accessibility, UI/UX principles, and modern, clean aesthetics.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>WordPress Development</h2>
		<p>I specialize in custom WordPress solutions, creating tailored themes and plugins for e-commerce, blogs, and enterprise applications. With a focus on performance, security, and scalability, I build websites that grow with your business. My WordPress expertise ensures an unmatched experience.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
