---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cloud Infrastructure</h2>
		<p>I design and manage scalable cloud infrastructure, including hybrid environments that integrate on-premise systems with AWS, Azure, and Google Cloud. My solutions ensure cost-efficiency, reliability, and seamless scalability as businesses grow. I help organizations optimize cloud resources for maximum performance and minimal costs.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cloud Security</h2>
		<p>I secure cloud environments with advanced solutions that go beyond traditional defenses, including real-time threat detection and AI-driven risk mitigation. My approach ensures data stays protected, systems remain resilient, and businesses comply with top industry standards like SOC 2 and ISO 27001. Partner with me for modern cloud security that evolves as fast as the threats do.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strengthening Defenses</h2>
		<p>I provide thorough penetration testing to identify vulnerabilities and strengthen cloud defenses. By simulating real-world attacks, I help businesses enhance their security posture and stay ahead of emerging threats. My work ensures cloud systems remain secure, resilient, and continuously improved.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
